[Unit]
Description=Pi4 Camera UDP Sender — 180p30 H.264
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=vraj
WorkingDirectory=/home/vraj/twopisetup/pi4
ExecStart=/bin/bash /home/vraj/twopisetup/pi4/stream_sender.sh <PIANPR_IP>
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
